body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.left {
    display: flex;
}

.header p {
    color: #f9faf8;
    font-size: 24px;
    display: inline;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.rightlinks {
    display: flex;
    gap: 25px;
    padding-right: 25px;
}

.header img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    padding: 10px;
}

.footer img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    padding: 10px;
}

.hero img {
    height: 200px;
    width: 400px;
    margin: 50px 50px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 150px;
}

.heroleft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    gap: 8px;
}